.popup__input-text {
    height: 14px;
    left: 461px;
    top: 363px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #000;
    border-width: 0 0 2px;
    border-color: rgba(0, 0, 0, .2);
    padding-bottom: 15px;
    outline: 0;
  }
